@import '../../../utils/mixins.scss';

.settingsForm {
    display: flex;
    margin-left: 18%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .imgSettings {
        width: 80%;
        border-radius: 10px;
    }

    .buttonHeaderForm {
        color: #f42f0e;
        font-weight: bold;
    }

    form {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        width: 65%;
        justify-content: center;

        #buttonForm {
            background-color: #f42f0e;
            color: #fff
        }


    }

    #deleteAccount {
        margin-top: 2rem;
    }

    #headerButtonFile,
    #avatarButtonFile {
        display: none;
    }

    @include md-max {
        margin-left: 0%;
        width: 100%;

        .imgSettings {
            width: 100%;
        }
    }

    .formSection {
        display: flex;
        flex-direction: column;
        padding-bottom: 6rem;
        align-items: center;
        width: 100%;
    }
}