.settingsForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .buttonHeaderForm {
        color: #f42f0e;
        font-weight: bold;
    }

    form {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        width: 65%;
        justify-content: center;

        #buttonForm {
            background-color: #f42f0e;
            color: #fff
        }

    }

    #headerButtonFile,
    #avatarButtonFile {
        display: none;
    }
}