.container {
    display: flex;
}

.profileLayout {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.layoutHeader {
    min-width: 100%;
    margin-bottom: 2rem;
}

#posts {
    margin-left: 10%;
}
