@import '../../utils/mixins.scss';

.postPageContainer {
    display: flex;

    .postPage {
        width: 100%;
        align-self: center;
        margin: auto;
        margin: 0;

        .cardPost {
            width: 90%;
            margin: auto;
        }
    }

    @include lg {
        .postPage {
            width: 70%;
            margin-left: 25%;

            .cardPost {
                width: 80%;
                margin: auto;

            }
        }
    }
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.commentCard {
    margin: 1rem auto;
    padding: 1rem;
    width: 85%;

    @include lg {
        width: 80%;

    }

    #AddCommentLayout {
        -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

}

.CommentButtonDelete {
    display: flex;
    justify-content: flex-end;

    .DeleteButton {
        &:hover {
            background-color: #f42f0e;
            color: white;
            cursor: pointer;
        }
    }
}