#msgError {
    color: rgb(244, 67, 54);
}

.layout {
    display: flex;
    width: 80%;

    .mainContent {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;

        .postContent {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: inherit;

            align-items: center;
        }
    }
}